.contenedor {
  display: flex;
}

.main-container .bg-white {
  padding: 15px;
}
.table .thead-dark th {
  color: #fff;
  background-color: #066857 !important;
  border-color: #055F4F !important;
}

#exit,#allEm, #respEm, #nrespEm, #addFunc, 
#edtFunc,#exFunc,#oldEm{
  color: #fff;
  cursor: pointer;
}
#oldEm{
	display: none;
}
#exit:hover,#allEm:hover, #respEm:hover, #nrespEm:hover, #addFunc:hover, 
#edtFunc:hover,#exFunc:hover,#oldEm:hover {
  color: #23D17F;
  cursor: pointer;
}

#exit{
  text-align: center;
  padding: 30px;
  padding-top: 70px;
}
#text-top{
  color: #fff;
}
.user img{
  width: 30%;
}
.main {
  flex-grow: 1;
  padding: 15px 15px;
}
.main .barra {
  height: 50px;
}
.bg-white {
  background-color: #f8f9fa !important;
}
.bg-light {
  background-color: #dfe6f5 !important;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background: #1C7860 !important;
  min-height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.logo {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.logo-sym {
  vertical-align: middle;
}

.logo-texto {
  margin-left: 10px;
}

.user {
  margin-top: 20px;
  padding-left: 10px;
}
#myTable_length, #myTable_info{
	display: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #cacaca;
    background-color: #1C7860 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1C7860), color-stop(100%, #156651)) !important;
    background: -webkit-linear-gradient(top, #1C7860 0%, #156651 100%) !important;
    background: -moz-linear-gradient(top, #1C7860 0%, #156651 100%) !important;
    background: -ms-linear-gradient(top, #1C7860 0%, #156651 100%) !important;
    background: -o-linear-gradient(top, #1C7860 0%, #156651 100%) !important;
    background: linear-gradient(to bottom, #1C7860 0%, #156651 100%) !important;
}
.user-nombre {
  color: white;
  margin-left: 5px;
}
#Resp{
	display:none;
}

.menu-nav {
  padding-left: 10px;
}

.ancho {
  width: 250px;
}

.ancho-min .user {
  padding-left: 0;
}

.ancho-min .ancho {
  width: 70px;
  align-items: center;
}

.ancho-min .menu-nav {
  padding-left: 0;
}

.ancho-min li.menu-items {
  display: block;
  width: initial;
}

.ancho-min .menu-items span, .ancho-min .logo-texto,
.ancho-min .user-nombre, .ancho-min .menu-titles,
.ancho-min .menu-boton, .ancho-min .menu-nav-seg {
  display: none !important;
}

.menu-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.menu-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 230px;
  justify-content: space-between;
}
li.menu-items span {
  margin-left: 1rem;
}

.menu-nav a, .menu-nav .menu-titles {
  color: #fff;
  padding-top: 2rem;
  display: block;
  text-decoration: none;
}

.menu-nav .menu-titles {
  text-transform: uppercase;
}

.menu-nav a:hover, ul.menu-nav-seg .menu-items-seg a:hover {
  color: #EBEBD3;
}

.menu-nav--icon {
  font-size: 1.3rem !important;
  line-height: 1;
  text-align: left;
  vertical-align: top;
}

ul.menu-nav-seg {
  width: 100%;
  display: none;
  padding-left: 35px;
}

ul.open-menu-nav-seg {
  display: block;
}

ul.menu-nav-seg .menu-items-seg a {
  color: #fff;
  padding-top: 9px;
  display: block;
  text-decoration: none;
}

a.menu-toggle {
  cursor: pointer;
}